img{
    width: 100vw;
    height: 40vh;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-pages{
    background-color: #7be079;
    width: 100%;
    min-height: 100vh;
}

p{
    background-color: #299f16;
    color: #ffffff;
    text-transform: uppercase;
    font-style: italic;
    padding: 5px;
}

.number-of-customers{
    margin-top: 50px;
}

h1{
    color: #299f15;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

Button{
    background-color:' #299f16';
    border: '1px solid  #299f16';
    border-radius: '10px';
    
}

.dialogStyle{
    margin-top: 10%;
    min-height: 15vh;
    min-width: 80vw;
    max-width: 95vw;
    border: 2px #299f16 solid;
    background-color: #7be079;
   }

 .buttonStyle{
    background-color:#299f16 !important;
    border: 1px solid  #299f16 !important; 
    border-radius: 10px; 
    width: 80%;
    margin: 5px;
  }

span{
    float: right;
    margin-top: -20px;
    margin-right: -10px;
    color: #299f16;
}
